.whichs {
    position: absolute;
    left: 12%;
    top: 37%;
}

td {
    padding-bottom: 20px;
}

.which-circle {
    border-radius: 100%;
    border: solid;
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    padding: 45px;
}

.which-num {
    border-radius: 100%;
    padding: 19.5px;
    padding-left: 40px;
}

.which-num a {
    text-decoration: none;
}

.which-num h1 {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.whichs2 {
    margin: auto;
    bottom: 20%;
}

.whichs2 td {
    padding-right: 20px;
}

.which2-circle {
    padding: 40px;
}

@media only screen and (max-width:800px) {
    .whichs {
        visibility: hidden;
        position: absolute;
    }
    .which-num {
        margin-top: -125px;
        padding: 34px;
        padding-left: 36px;
    }
}


.content {
    position: absolute;
    left: 25%;
    top: 37%;
    width: 35%;
}

.content h2 {
    font-size: 1rem;
    transform:scale(1,1.1);
    letter-spacing: 1.25px;
    margin-bottom: 0;
}

.content h1 {
    font-size: 3.5rem;
    margin-bottom: -7px;
}


.technology-image {
    position: absolute;
    top: 28%;
    right: 0;
    width: 30%;
}


.pic-circle {
    width: 100%;
    visibility: hidden;
    margin-top: 200px;
    align-items: center;
}

.pic-circle p {
    color: rgba(245, 245, 220, 0);
    margin-top: 0;
}

.pic-circle img {
    width: 115%;
    margin-left: -10px;
}

@media only screen and (max-width:800px) {
    .technology-image {
        visibility: hidden;
    }
    .content {
        top: 90%;
        width: 65%;
        left: 17.5%;
        text-align: center;
    }
    .content h2 {
        padding-top: 40px;
    }
    .content h1 {
        font-size: 2.6rem;
    }
    .content p {
        font-size: 0.9rem;
        padding-bottom: 100px;
    }
    .pic-circle {
        visibility: visible;
    }
}